#components-layout-demo-custom-trigger .trigger {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    transition: all 0.3s;
    background: #002140;
    overflow: hidden;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}
